.list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 0;
}

.loading-item {
  width: 300px;
  height: 340px;
  background-color: var(--grey-color);
  border-radius: 1.25rem;
  box-shadow: 0 10px 30px -10px rgb(0 0 0 / 20%);
  overflow: hidden;
  animation: identifier 2s ease-in-out infinite both;
}

@keyframes identifier {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}
